<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> Navigation </div>
    <div class="list-group list-group-flush">
        <a [routerLink]="['']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a [routerLink]="['persons']" class="list-group-item list-group-item-action bg-light">Persons</a>
        <a [routerLink]="['persons']" class="list-group-item list-group-item-action bg-light">Suspicions</a>
        <a [routerLink]="['persons']" class="list-group-item list-group-item-action bg-light">Cameras</a>
        <a [routerLink]="['persons']" class="list-group-item list-group-item-action bg-light">Statistics</a>
        <!-- number of pople passed ... -->
    </div>
</div>