<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Entries</th>
        <th scope="col">Apartment</th>
        <th scope="col">Tenant</th>
        <th scope="col">Since</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="click()">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>2</td>
        <td>No</td>
        <td>10.10.2010</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>51</td>
        <td>Yes</td>
        <td>10.10.2010</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>13</td>
        <td>No</td>
        <td>10.10.2010</td>
      </tr>
    </tbody>
  </table>