<div class="card flex-row">
    <div class="card-body">
  
      <h2>Add Label</h2>
   
      <div class="form-group">
        <label for="exampleFormControlSelect1">Type</label>
        <select name="type" class="form-control" id="exampleFormControlSelect1">
          <option value="1">Special</option>
          <option value="2">Warning</option>
          <option value="3">Suspension</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="description">Add Suspension</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary" (click)="add()">Submit</button>
  
  
    </div>
</div>